{% extends "users/base.html" %}
{% block content %}
    <div>
    	<h2>{{app.name}}</h2>
        <h6>{{app.points}}</h6>
    </div>
    <div class="container mt-3">
        <h1>Upload file</h1>

        <form action="/upload" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
            <div class="fallback">
                <div >
                    <input name="appid" type="text" hidden value="{{app.id}}">
                    <input class="dropzone" name="file" type="file"/>
                </div>
                
            </div>
            <button type="submit">Submit</button>
          </form>
          

    </div>
{% endblock content %}
