{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        {% if user.is_superuser %}
            <form method='POST'>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottem mb-4">
                    Create App</legend>
                    {{ form|crispy }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">Create</button>
                    </div>
                </fieldset>
                
            </form>
        {% else %}
            <div>
                {% for app in apps %}
                <a href="{% url 'detail' app.id %}">
                    <div style="border: 1px solid">
                        <h3>{{app.name}}</h3>
                        <a href=""></a>
                        <h5>{{app.points}}</h5>
                    </div>
                    <br>
                </a>
                
                
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
